# Node.js dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Build artifacts
/dist
/build
/coverage
/.next
/out

# IDE / Editor files
.vscode/
.idea/
*.suo
.ntvs
*.njsproj
*.sln

# Runtime data
*.tgz
.cache/
.temporary/

# Debugger
node_modules/.cache/



uploads/
.vercel
.env*.local
